<div class="login-wrapper">
  <div class="resend-section">
    <!-- Mostrar el contador cuando está activo -->
    <!-- <span *ngIf="isCounterActive" class="resend-counter">
      Resend in {{ counter }}
    </span> -->

    <!-- Mostrar el botón de reenvío cuando el contador llega a cero -->
    <a class="resend-counter"> Reenviar Correo </a>
  </div>
  <p-inputOtp [(ngModel)]="otpcode" [length]="6" [integerOnly]="true" />
  <p-button label="Continuar" />
  <p class="back-option" (click)="backToLogin()">
    <i
      class="pi pi-arrow-left"
      style="font-size: 0.75rem; margin-right: 8px"
    ></i>
    Utilizar otro correo electrónico
  </p>

  <div class="message error" *ngIf="message.length > 0">
    <p class="message-text">
      <i class="fa-solid fa-circle-exclamation"></i>{{ message }}
    </p>
    <div class="close" (click)="message = ''"></div>
  </div>
</div>
